<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
  </head>
  <body>
    <div>
      <h1>{{title}}</h1>
    </div>
    <div>
      <p>{{description}}</p>
    </div>
    <div>
      <img src={{image}} alt="logo" width="120" height="100">
    </div>
    <div>
      <h2>Focus Area:</h2>
        <ul>
          <li>{{focus_area_1}}</li>
          <li>{{focus_area_2}}</li>
          <li>{{focus_area_3}}</li>
          <li>{{focus_area_4}}</li>
          <li>{{focus_area_5}}</li>
          <li>{{focus_area_6}}</li>
        </ul>
    </div>
    <div>
      <h2>Sub Focus Area:</h2>
      <ul>
        <li>{{sub_focus_area_1}}</li>
        <li>{{sub_focus_area_2}}</li>
        <li>{{sub_focus_area_3}}</li>
        <li>{{sub_focus_area_4}}</li>
        <li>{{sub_focus_area_5}}</li>
        <li>{{sub_focus_area_6}}</li>
      </ul>
    </div>
    <div>
        <h2>Target Segment:</h2>
        <ul>
          <li>{{target_segment_1}}</li>
          <li>{{target_segment_2}}</li>
          <li>{{target_segment_3}}</li>
          <li>{{target_segment_4}}</li>
        </ul>
    </div>
    <div>
      <h2>Sub Target Segment:</h2>
      <ul>
        <li>{{sub_target_segment_1}}</li>
        <li>{{sub_target_segment_2}}</li>
        <li>{{sub_target_segment_3}}</li>
        <li>{{sub_target_segment_4}}</li>
        <li>{{sub_target_segment_5}}</li>
        <li>{{sub_target_segment_6}}</li>
      </ul>
    </div>
    <div>
      <h2>Location:</h2>
      <ul>
          <li>{{location_1}}</li>
          <li>{{location_2}}</li>
          <li>{{location_3}}</li>
          <li>{{location_4}}</li>
          <li>{{location_5}}</li>
      </ul>
    </div>
    <div>
      <h2>Tags:</h2>
      <ul>
          <li>{{tags_1}}</li>
          <li>{{tags_2}}</li>
          <li>{{tags_3}}</li>
          <li>{{tags_4}}</li>
          <li>{{tags_5}}</li>
      </ul>
    </div>
  </body>
</html>
